<div class="vh-100 vw-100 d-flex justify-content-center align-items-center" style="background-color: #E6E6E6;">
    <div>
        <div style="margin-bottom: 65px; font-weight: 500; font-size: 36px;" class="text-center">Login</div>
        <div class="card">
            <div class="pt-3">
                <label class="pb-2" for="email" style="font-size: 14px; font-weight: 500;">Email</label>
                <input class="app-input" id="email" type="email" name="email">
            </div>
            <div class="pt-3">
                <label class="pb-2" for="email" style="font-size: 14px; font-weight: 500;">Password</label>
                <input class="app-input" id="password" type="password" name="password">
            </div>
            <div class="pt-5 pb-2">
                <button class="bg-primary app-button"   type="submit" >Login</button>
            </div>
            <div class="text-center" style="font-size: 14px; font-weight: 500;">
                Don't have an account? <a href="/signup">Register</a> 
            </div>
        </div>
    </div>
    
</div>