* {
    box-sizing: border-box;
  }
  .body {
    font-size: 14px;
    width: 100%;
    height: 1024px;
    background: rgba(244,245,247,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .card {
    width: 530px;
    background-color: white;
    padding: 78px 65px;
  }
  