<div class="d-flex">
  <app-sidebar></app-sidebar>



  <div class="wrapper">
    <div class="text-center py-5">Transactions</div>
    <div class="">

      <!-- TABLE -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ticker</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Side</th>
            <th scope="col">Status</th>
            <th scope="col">Exch Traded</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{order.id}}</th>
            <td>{{order.product}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.price}}</td>
            <td>{{order.side}}</td>
            <td>{{order.status}}</td>
            <td>{{order.exchangeTradedOn}}</td>
          </tr>

        </tbody>
      </table>
      <!-- TABLE END -->
    </div>

  </div>

</div>
